@charset "utf-8";

/* header */
#header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}
#header #gnb{
    display: flex;
    justify-content: center;
}
#header #gnb .header__hambuger{
    width: 90px;
    height: 90px;
    position: relative;
    display: block;
}
#header #gnb .header__hambuger::before,
#header #gnb .header__hambuger::after{
    content: "";
    display: block;
    background-color: #fff;
    width: 20px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#header #gnb .header__hambuger::before{
    top: 44%;
}
#header #gnb .header__hambuger::after{
    bottom: 46%;
}
#header #gnb ul{
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
#header #gnb li{
    color: #fff;
    font-family: "grotesque-regular";
    margin-right: 30px;
}
#header #gnb li:first-child{
    margin-left: 30px;
}

#header .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s ease;
}

#header .gnb-sub{
    display: flex;
}
#header .gnb-sub li a,
#header .gnb-sub li button{
    width: 90px;
    height: 90px;
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-family: "grotesque-regular";
}
#header .gnb-sub .cart a{
    position: relative;
}
#header .gnb-sub .cart span{
    position: absolute;
    top: -6px;
    right: 16px;
    font-size: 11px;
    font-family: "grotesque-medium";
}
#header a,
#header button{
    transition: 0.3s ease;
}
#header a:focus,
#header a:hover,
#header button:focus,
#header button:hover{
    opacity: 0.5;
}

main{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* banner */
#banner{
    background-image: url("../images/collections/BossHomeLife-Home_1920x1200.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    z-index: -100;
    position: relative;
}
#banner .banner__container{
    width: 100%;
    height: 100%;
    box-shadow: 0px -400px 120px -100px rgba(0, 0, 0, 0.3) inset;
}
#banner h1{
    position: absolute;
    left: 50%;
    z-index: 100;
    bottom: 160px;
    transform: translateX(-50%);
    font-size: 60px;
    font-family: "grotesque-bold";
    line-height: 66px;
    letter-spacing: -1.5px;
    color: #fff;
}
#banner .banner__linkBox{
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
}
#banner .banner__linkBox li{
    display: inline-block;
    background-color: inherit;
    margin-left: 5px;
}
#banner .banner__linkBox li:first-child{
    margin: 0;
}
#banner .banner__linkBox li a{
    color: #fff;
    border: 1px solid #fff;
    font-family: "grotesque-semibold";
    margin-top: 50px;
    width: 157.5px;
    height: 43px;
    display: block;
    text-align: center;
    line-height: 43px;
    transition: 0.5s ease;
}
#banner .banner__linkBox li a:focus,
#banner .banner__linkBox li a:hover{
    background-color: #252525;
    border-color: #252525;
}

/* section intro */
#intro{
    background-color: #EDECE8;
    padding: 100px 0;
    width: 100vw;
}
#intro .intro__container{
    width: 90%;
    margin: 0 auto;
    max-width: 920px;
}
#intro .intro__text{
    text-align: center;
    word-break: keep-all;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.43px;
    color: #252525;
    margin-bottom: 44px;
    font-family: "grotesque-regular";
}

/* section collection */
#collection{
    width: 100vw;
    padding: 100px 0;
    background-color: #EDECE8;
}
#collection .collection__container{
    width: 95%;
    margin: 0 auto;
}
.collection__container .collection__contentBox{
    display: flex;
    justify-content: space-between;
}
.collection__container .collection__contentBox a{
    width: calc(33.3333333% - 25px);
    margin-right: 25px;
    position: relative;
    padding: 0 0 20% 0;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.collection__container .collection__contentBox a::before{
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}
.collection__container .collection__contentBox a:focus::before,
.collection__container .collection__contentBox a:hover::before{
    background-color: rgba(0, 0, 0, 0.4);
}
.collection__contentBox a:nth-child(1){
    background-image: url("../images/collections/hero_eafa3f87-3f78-4352-86ac-139dfef3512a_1920x1200.jpg");
}
.collection__contentBox a:nth-child(2){
    background-image: url("../images/collections/Boss_atHome_Product_-_Ola2_1920x1200.jpg");
}
.collection__contentBox a:nth-child(3){
    background-image: url("../images/collections/Boss_atHome_Product_-_Bodie2_1920x1200.jpg");
}
.collection__container .collection__contentBox h2{
    font-size: 30px;
    font-family: "grotesque-semibold";
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    color: #fff;
}
#collection .sec_btn{
    margin-top: 50px;
    width: 220px;
}

/* section products */
#products{
    background-color: #EDECE8;
    padding: 100px 0;
    width: 100vw;
}
#products .products__container{
    width: 95%;
    margin: 0 auto;
}
#products h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    font-family: "grotesque-semibold";
}
#products .products__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#products .products__list li{
    width: calc(16.66666666666667% - 20px);
    margin-right: 20px;
    text-align: center;
    transition: 0.5s ease;
}
#products .products__list li:focus,
#products .products__list li:hover{
    opacity: 0.5;
}
#products .products__list li:last-child{
    margin-right: 0;
}
#products .products__list li img{
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
#products .products__list li h3{
    font-family: "grotesque-medium";
    letter-spacing: -1px;
    margin-bottom: 10px;
}
#products .products__list li h4{
    font-size: 15px;
    font-family: "grotesque-regular";
    color: #818178;
}
#products .sec_btn{
    margin-top: 80px;
}

/* section about */
#about{
    width: 100vw;
    background-color: #EDECE8;
    border-top: 1px solid #ccc;
}
#about article{
    display: flex;
    flex-direction: row;
    height: 650px;
}
#about .about__text{
    width: 50%;
    height: 100%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#about .about__text h2{
    font-size: 30px;
    letter-spacing: -0.5px;
    line-height: 32px;
    margin-bottom: 23px;
    font-family: "grotesque-semibold";
}
#about .about__text p{
    font-size: 17px;
    line-height: 27px;
    color: #58574F;
    margin-bottom: 50px;
    max-width: 560px;
}
#about .about__img{
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#about .about__weare .about__img{
    background-image: url("../images/files/Boss-atHome-Image-Story---28_1920x1200.jpg");
}
#about .about__browse .about__img{
    background-image: url("../images/files/Boss_atHome_Product_1920x1200.jpg");
}

/* footer */
#footer{
    background-color: #EDECE8;
    border-top: 1px solid #ccc;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#footer .footer__container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}
.footer__container .footer__link{
    width: 50%;
    display: flex;
}
.footer__link .footer__socials li{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    transition: 0.3s ease;
}
.footer__link .footer__socials li:last-child{
    border-bottom: none;
}
.footer__link .footer__socials a{
    display: block;
    width: 129px;
    height: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__container .footer__text{
    width: 50%;
}
.footer__container #fnb{
    width: 50%;
    padding: 40px;
}
.footer__container #fnb li{
    margin-bottom: 5px;
}
.footer__container #fnb li:last-child{
    margin: 0;
}
.footer__container #fnb li a{
    color: #818178;
    font-size: 15px;
    font-family: "grotesque-regular";
    transition: 0.3s ease;
}
.footer__container #fnb li a:focus,
.footer__container #fnb li a:hover{
    color: #252525
}
.footer__container .footer__text{
    padding: 40px;
    border-left: 1px solid #ccc;
}
.footer__container .footer__text h3{
    font-size: 20px;
    font-family: "grotesque-regular";
    letter-spacing: -0.5px;
    margin-bottom: 20px;
}
.footer__container .footer__text a.sec_btn{
    margin: 0;
}
.footer__copyrights{
    display: flex;
    align-items: center;
}
.footer__copyrights .footer__copyrights__text{
    padding: 30px 40px;
    width: 50%;
    font-size: 13px;
    color: #818178;
    font-family: "grotesque-regular";
}
.footer__copyrights .footer__copyrights__text2{
    width: 50%;
    border-left: 1px solid #ccc;
    padding: 30px 40px;
    font-size: 13px;
    color: #818178;
    font-family: "grotesque-regular";
    display: flex;
    justify-content: space-between;
}
.footer__copyrights .footer__copyrights__text2 a{
    font-size: 15px;
    font-family: "grotesque-semibold";
}